header{
    border-bottom: solid black;
    margin-bottom: 10px;
}

.user-info-header,.user-info-body{
    border-bottom: solid 1px gray;
}

.user-info,.user_list,.create_user{
    border: solid gray;
    width: 300px;
    margin-bottom: 5px;
}

.post-list{
    border: solid gray;
}
